*,
*::before,
*::after {
  font-family: "Noto Sans TC";
}

button {
  border: none;
  background-color: transparent;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.container-fluid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 5px;
}